
/*
.intro{
    font-size: 30px;
    margin-bottom: 52px;
    
}
.butt{
    height: 10px;
    width: 80px;
    margin-top: 10px;
    background-color: blue;
}
.image{
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}
*/
/* Main.css */
.main {
    text-align: center;
    padding: 20px;
  }
  
  .intro {
    margin-top: 20px;
  }
  
  .image {
    margin-top: 20px;
  }
  
  .butt {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .butt:hover {
    background-color: #0056b3;
  }
  